DATABASE_URL=postgres://<username>:<password>@localhost:5432/recomdash?sslmode=disable&schema=public
SESSION_SECRET=
REDWOOD_ENV_ACCOUNT_PASSWORD=

# Cloudinary configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Redis configuration
REDIS_USERNAME=default
REDIS_PASSWORD=redis_password
REDIS_HOST=redis-host
REDIS_PORT=12509
REDIS_ADDR=redis-host:12509
REDIS_DB=0
REDIS_URL=

# Gemini configuration
GEMINI_API_KEY=
